@font-face {
    font-family: 'Fira Code NF';
    src: url('@/assets/font/FiraCode/FiraCodeNerdFont-Bold.ttf');
    font-weight: 700;
}
@font-face {
    font-family: 'Fira Code NF';
    src: url('@/assets/font/FiraCode/FiraCodeNerdFont-Medium.ttf');
    font-weight: 500;
}
@font-face {
    font-family: 'Fira Code NF';
    src: url('@/assets/font/FiraCode/FiraCodeNerdFont-Regular.ttf');
    font-weight: 400;
}
@font-face {
    font-family: 'Fira Code NF';
    src: url('@/assets/font/FiraCode/FiraCodeNerdFont-Light.ttf');
    font-weight: 300;
}

@font-face {
    font-family: 'Fira Code NF Propo';
    src: url('@/assets/font/FiraCode/FiraCodeNerdFontPropo-Bold.ttf');
    font-weight: 700;
}
@font-face {
    font-family: 'Fira Code NF Propo';
    src: url('@/assets/font/FiraCode/FiraCodeNerdFontPropo-Medium.ttf');
    font-weight: 500;
}
@font-face {
    font-family: 'Fira Code NF Propo';
    src: url('@/assets/font/FiraCode/FiraCodeNerdFontPropo-Regular.ttf');
    font-weight: 400;
}
@font-face {
    font-family: 'Fira Code NF Propo';
    src: url('@/assets/font/FiraCode/FiraCodeNerdFontPropo-Light.ttf');
    font-weight: 300;
}