.meter {
    display: block;
    height: 1.5rem;
    border-radius: 10px;
    background: rgba(0,0,0,.1);

    &__bar {
        display: block;
        height: 100%;
        border-radius: 10px;
        background: #ef5350;

        &.low {
            background: #ffc107;
        }

        &.high {
            background: #558b2f;
        }

        &.optimum {
            background: #1b5e20;
        }
    }

    & + span {
        display: block;
        font-size: .8em;
        text-align: center;
    }
}
