<template id="feed">
    <table>
        <colgroup>
            <col />
            <col />
            <col style="width: 150px;" />
        </colgroup>
        <thead>
            <tr>
                <th colspan="3">{{ title }}</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="item in feedData">
                <td class="has-icon">
                    <i class="fab fa-gitlab" v-if="item.type === 'gitlab'"></i>
                    <i class="fab fa-github" v-if="item.type === 'github'"></i>
                </td>
                <td><a :href="item.link">{{ item.title }}</a></td>
                <td class="has-date">
                    {{ item.date.toLocaleString([locale], dateOptions) }}
                    <br />
                    {{ item.date.toLocaleString([locale], timeOptions) }}
                </td>
            </tr>
        </tbody>
    </table>
</template>
