<template id="header">
    <header>
        <div class="logo-container">
            <sp-logo></sp-logo>
            <div class="socials-strip">
                <a href="https://github.com/SirPatagon" title="GitHub"><i class="fab fa-github"></i></a>
                <a href="https://gitlab.com/SirPatagon" title="GitLab"><i class="fab fa-gitlab"></i></a>
                <a href="https://twitter.com/SirPatagon" title="Twitter"><i class="fab fa-twitter"></i></a>
                <a href="https://steamcommunity.com/id/SirPatagon/" title="Steam"><i class="fab fa-steam"></i></a>
                <a href="https://www.youtube.com/channel/UClN8kD_2x5kIzmI852U4STw" title="YouTube"><i class="fab fa-youtube"></i></a>
                <a href="mailto:sirpatagon+development@gmail.com" title="E-Mail"><i class="fas fa-envelope"></i></a>
            </div>
            <a href="#content" class="arrow-link">
                {{ arrowText }}
                <div class="arrow-container">
                    <i class="fas fa-chevron-down"></i>
                </div>
            </a>
        </div>
    </header>
</template>
