<template id="logo">
    <div class="logo">
        <img v-if="globalProps.darkMode" src="~/res/Logo.svg" alt="SirPatagon - Logo" />
        <img v-if="!globalProps.darkMode" src="~/res/Logo_inv.svg" alt="SirPatagon - Logo" />
    </div>
</template>
