<template id="theme-changer">
    <button type="button" class="theme-changer" @@click="changeTheme">
        <i class="fas fa-lightbulb" v-if="darkMode"></i>
        <i class="far fa-lightbulb" v-else></i>
    </button>
</template>
